<app-logoutnavbar></app-logoutnavbar>
<div class="card-container">
    <div class="card">
      <div class="card-header">
        Test Details
      </div>
      <div class="card-body">
        <h5 class="card-title">Sugar Test</h5>
        <button routerLink="/sugartest" class="btn btn-primary">Upload Report</button>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        Test Details
      </div>
      <div class="card-body">
        <h5  class="card-title">Blood Pressure Test</h5>
        <button routerLink="/bppage" class="btn btn-primary">Upload Report</button>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        Test Details
      </div>
      <div class="card-body">
        <h5 class="card-title">Blood Test</h5>
        <button routerLink="/bloodtest" class="btn btn-primary">Upload Report</button>
      </div>
    </div>
  </div>