.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 1rem;
}

.table {
  width: 80%;
  margin: 0 auto;
}

th, td {
  text-align: left;
  padding: 0.75rem;
  border-bottom: 1px solid #dee2e6;
}

th {
  font-weight: bold;
  background-color: #f8f9fa;
}

td:last-child {
  text-align: center;
}

button[type="submit"] {
  width: 100%;
  padding: 0.5rem;
  background: #164e68; 
  color: #fff;
  border: none;
  border-radius: 5px; 
  cursor: pointer;
  transition: background 0.3s ease, box-shadow 0.3s ease;
}

button[type="submit"]:hover {
  background:#59beed; /* Slightly darker shade for hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
}

.accept {
  color: #28a745;
}

.decline {
  color: #dc3545;
}

.image{
  background: url('./../../../assets/images/chose.jpg') no-repeat center center fixed;
  background-repeat: none;
  background-size: cover;
}

.card {
  background: rgba(255, 255, 255, 0.9);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px; /* Reduced max-width for a smaller form */
}
