<app-logoutnavbar></app-logoutnavbar>
<div class="image">
<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Book Appointment</h5>
            <p class="card-text">Click here to book an appointment.</p>
            <button routerLink="/bookappointment" class="btn btn-primary" id="book-button">Book Now</button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Appointment Status</h5>
            <p class="card-text">Check the status of your appointments</p>
            <button routerLink="/appointmentstatus" class="btn btn-primary" id="status-button">Check Status</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>