.container {
    padding: 2rem;
   
  }
  
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card {
    width: 300px;
    margin: 0 1rem;
    border: 1px solid rgb(6, 11, 116);
    padding: 1rem;
    transition: transform 0.2s ease-out;
    text-align: center;
  
  }
  
  .btn-primary {
    width: 100%;
        padding: 0.5rem;
        background: #164e68; 
        color: #fff;
        border: none;
        border-radius: 5px; 
        cursor: pointer;
        transition: background 0.3s ease, box-shadow 0.3s ease;
  }
  .btn:hover{
    background:#59beed; /* Slightly darker shade for hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .image {
   background: url('./../../../assets/images/chose.jpg') no-repeat center center fixed;
    background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  }

 