

.container {
    margin-top: 50px;
        max-width: 300px;
        padding: 20px;
        background-color: #fff;
        border: 1px solid #ddd;
        border-color:#164e68;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(7, 0, 0, 0.1);
        background-color: transparent;
      }
      
      .form-group {
        margin-bottom: 1rem;
      }
      
      label {
        display: block;
        margin-bottom: 0.5rem;
      }
      
      input[type="text"],
      input[type="email"],
      input[type="password"] {
        width: 100%;
        padding: 0.5rem;
        border: 1px solid #ddd;
        border-radius: 4px;
        box-sizing: border-box;
      }
      
      input[type="text"]:focus,
      input[type="email"]:focus,
      input[type="password"]:focus {
        outline: none;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }
      
      button[type="submit"] {
        width: 100%;
        padding: 0.5rem;
        background: #164e68; 
        color: #fff;
        border: none;
        border-radius: 5px; 
        cursor: pointer;
        transition: background 0.3s ease, box-shadow 0.3s ease;
      }
      
      button[type="submit"]:hover {
        background:#59beed; /* Slightly darker shade for hover */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
}
      

      .bg-image {
        background: url('./../../assets/images/chose.jpg') no-repeat center center fixed;
        background-size: cover;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
       
      }

     
      
      