

<div class="bg-image" >
  
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-3">
      <div class="card text-center">
        <figure class="patient-image">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfdXabbR8wmQx47eanD7R3uop-uF3OR22plj5AkemwEQ&s" class="card-img-top" alt="Patient Image">
        </figure>
        <div class="card-body">
          <h5 class="card-title">Patient</h5>
          <p class="card-text">This is a paragraph about patients.</p>
          <a routerLink="/patientlogin" class="btn btn-gradient-green">Login</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-center">
        <img src="https://wallpapers.com/images/hd/doctor-with-globe-in-hand-hd-medical-dff7ahiwc5xsfjm0.jpg" class="card-img-top" alt="Doctor Image">
        
        <div class="card-body">
          <h5 class="card-title">Doctor</h5>
          <p class="card-text">This is a paragraph about doctors.</p>
          <a routerLink="/doctorlogin" class="btn btn-gradient-green">Login</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-center">
        <img src="https://thumbs.dreamstime.com/b/test-coronavirus-covid-female-doctor-nurse-doing-lab-analysis-nasal-swab-hospital-laboratory-medical-technologist-179679505.jpg" class="card-img-top" alt="Tester Image">
        <div class="card-body">
          <h5 class="card-title">Tester</h5>
          <p class="card-text">This is a paragraph about testers.</p>
          <a routerLink="/testerlogin" class="btn btn-gradient-green">Login</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-center">
        <img src="https://kghvisakhapatnam.org/admin/upload/e-hospital.jpg" class="card-img-top" alt="Admin Image">
        <div class="card-body">
          <h5 class="card-title">Admin</h5>
          <p class="card-text">This is a paragraph about admins.</p>
          <a routerLink="/adminlogin" class="btn btn-gradient-green">Login</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>