
<app-logoutnavbar></app-logoutnavbar>
<div class="image">

<div class="card-container">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Appointment</h5>
        <button routerLink="/appoinmentlading" class="btn btn-primary">View</button>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Test Report</h5>
        <button routerLink="/patienttestpage" class="btn btn-primary">View</button>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Prescription</h5>
        <button routerLink="/prescriptionResult" class="btn btn-primary">View</button>
      </div>
    </div>
  </div>

</div>