.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
  
  .card {
    width: 300px;
    margin: 0 1rem;
    border: 1px solid black;
    padding: 1rem;
    transition: transform 0.2s ease-out;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .card-title {
    margin-bottom: 1rem;
  }
  
  button[type="button"] {
    width: 100%;
  }

  .image{
    background-image: url(https://media.istockphoto.com/id/1437830105/photo/cropped-shot-of-a-female-nurse-hold-her-senior-patients-hand-giving-support-doctor-helping.jpg?s=612x612&w=0&k=20&c=oKR-00at4oXr4tY5IxzqsswaLaaPsPRkdw2MJbYHWgA=);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    align-items: center;
  }