.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .table {
    width: 100%;
    margin: 0 auto;
  }
  
  th, td {
    text-align: left;
    padding: 0.75rem;
    border-bottom: 1px solid #dee2e6;
  }
  
  th {
    font-weight: bold;
    background-color: #f8f9fa;
  }
  
  td:last-child {
    text-align: center;
  }
  
  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    margin-right: 0.5rem;
  }
  
  .accept {
    color: #28a745;
  }
  
  .decline {
    color: #dc3545;
  }

  .image{
    background-image: url(https://www.hopkinsmedicine.org/-/media/images/health/2_-treatment/cardiovascular/blood-tests-teaser.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }